error code used when the first frame is not QX_TRANSPORT_PARAMETERS

At the moment, the QMux draft states that:
> If the first frame being received by an endpoint is not a QX_TRANSPORT_PARAMETERS frame, or if a QX_TRANSPORT_PARAMETERS frame is received other than as the first frame, the endpoint MUST close the connection with an error of type TRANSPORT_PARAMETER_ERROR. ([Section 4.2 of QMux](https://quicwg.org/qmux/draft-ietf-quic-qmux.html#section-4.2-8))

This is a bit odd when QUIC version 1 uses PROTOCOL_VIOLATION for indicating misuse of frames, i.e.,
> An endpoint MUST treat receipt of a frame in a packet type that is not permitted as a connection error of type PROTOCOL_VIOLATION. ([Section 12.4 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#section-12.4-12))

Considering that, I wonder if we should either:
* a) change the error code specified in QMux to PROTOCOL_VIOLATION, or
* b) allow use of both TRANSPORT_PARAMETER_ERROR and PROTOCOL_VIOLATION.

Though, we could also argue that _c) do not change_ is a viable option, as endpoints are allowed to use PROTOCOL_VIOLATION even if the specification says TRANSPORT_PARAMETER_ERROR ([Section 11 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html?utm_source=chatgpt.com#section-11-2)).